# Ignore specific file extensions
*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.tex
*.toc
*.vrb
*.odt
*.bib
*.bbl
*.blg

# Ignore files containing "_s" in their name
*_s*

nota.txt
asfr_hfd.txt
diagrama_lexis.R
na0_plot.R
prep.R
Deaths_1x1.txt
Exposures_1x1.txt
def.xlsx
Total_pais_poblacion_por_sexo_y_edad_1996-2050.xls
diagra_lexis_libro.R

horarios/
estudiantes/
recursos/
evaluaciones/
