# Ignore specific file extensions
*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.tex
*.toc
*.vrb
*.odt

# Ignore files containing "_s" in their name
*_s*

nota.txt
asfr_hfd.txt
diagrama_lexis.R
na0_plot.R
prep.R
Deaths_1x1.txt
Exposures_1x1.txt

horarios/
estudiantes/
recursos/
evaluaciones/